body {
    text-align: center;
}

#order_box{

    background-color: lightgrey;
    width: 10%;
    border: 1px solid gray;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: left;

}